/* Import Mulish font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mulish: 'Mulish', sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
  font-family: var(--font-mulish); /* Apply Mulish globally */
}

@layer base {
  body {
    @apply bg-n-8 text-n-1 text-base;
    font-family: var(--font-mulish); /* Ensure Mulish on body */
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400; /* Use heavier weight for headings */
  }

  strong {
    font-weight: 600; /* Slightly bolder for strong text */
  }

  em {
    font-style: italic; /* Italic for emphasized text */
  }
}

/* Rotate Utilities */
.rotate-45 {
  @apply rotate-[45deg];
}
.rotate-90 {
  @apply rotate-[90deg];
}
.rotate-135 {
  @apply rotate-[135deg];
}
.rotate-180 {
  @apply rotate-[180deg];
}
.rotate-225 {
  @apply rotate-[225deg];
}
.rotate-270 {
  @apply rotate-[270deg];
}
.rotate-315 {
  @apply rotate-[315deg];
}
.rotate-360 {
  @apply rotate-[360deg];
}
.-rotate-45 {
  @apply rotate-[-45deg];
}
.-rotate-90 {
  @apply rotate-[-90deg];
}
.-rotate-135 {
  @apply rotate-[-135deg];
}
.-rotate-180 {
  @apply rotate-[-180deg];
}
.-rotate-225 {
  @apply rotate-[-225deg];
}
.-rotate-270 {
  @apply rotate-[-270deg];
}
.-rotate-315 {
  @apply rotate-[-315deg];
}
.-rotate-360 {
  @apply rotate-[-360deg];
}
